@charset "utf-8";
/*======================== common ========================*/
* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
	font-size: 12px;
  color: #555;
  height: 100%;
}
body {
  text-align: center;
  font-family: "Hiragino Sans", "Yu Gothic", sans-serif;
  color: #333;
  background-color: #f7f9ff;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: #333;
}
a:hover, a:active {
  opacity: 0.5;
}
li {
  list-style: none;
  display: block;
}
p {
line-height: 1.4em;
}
footer {
	background-color: #fff3fb;
}

/*======================== page ========================*/
h1 {
  margin: 5rem auto 0;
  background-color: #b0ddff;
  padding: 0.5rem 2rem;
  width: fit-content;
}
.businesscard_wrapper {
  margin: 12rem auto 0;
}
h2 {
  margin: 3rem auto 1rem;
}
.work-explanation {
  margin: 4rem auto;
  width: 70vw;
}
.work-explanation p {
  text-align: left;
}
.work-img img {
  width: 80vw;
  margin: 1rem auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.work_tool {
  margin: 2rem auto;
}
.work_tool p {
  font-size: 16px;
}
.work_tool p img {
  width: 1.8rem;
  vertical-align: top;
  margin-right: 0.5rem;
}
.goback {
  font-size: 18px;
  margin: 5rem;
}
/* --- Moving Underline：アニメーション専用 --- */
/* 共通：下線の流れるアニメーション */
.moving-underline {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
}
/* 常時表示する下線 */
.moving-underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #333; /* 常時表示する色 */
}
/* ホバーで流れる下線 */
.moving-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;   /* 左から出す */
  width: 100%;
  height: 2px;
  background: #333; /* 流れる線の色 */
  transition: none;
}
.moving-underline:hover::after,
.moving-underline:focus::after {
  animation: underline-flow 0.8s ease-in-out forwards;
}
/* 下線アニメーション */
@keyframes underline-flow {
  0% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    margin: 5rem auto 0;
  }
  h2 {
    margin: 5rem auto 1rem;
  }
  .businesscard_wrapper {
    display: flex;
    justify-content: center;
  }
  .work-explanation {
    max-width: 30vw;
  }
  .work-explanation p {
    font-size: 16px;
    text-align: center;
  }
  .work-img {
    margin: 5rem;
  }
  .work-img img {
  width: 500px;
  max-width: 30vw;
  margin: 1rem;
}
}