@charset "utf-8";

/*======================== common ========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
	font-size: 75%; /*12px*/
    color: #333;
    height: 100%;
}
body {
    text-align: center;
    font-family: "Hiragino Sans", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    background-color: #ffe6ff;
    height: 100%;
}
a {
    text-decoration: none;
    transition: 0.5s;
    color: #ee1b84;
}
a:hover, a:active {
    opacity: 0.6;
}
li {
    list-style: none;
}
p {
    line-height: 1.5rem;
}
h2 {
    letter-spacing: 1px;
    font-size: 1.5rem; /*18px*/
    color: #f5a;
}
h3 {
    font-size: 1.25rem;
    color: #ff76bb;
    margin-bottom: 1rem;
}

/*======================== header ========================*/
header {
    position: fixed;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 5rem;
	background-color: #fff;
    z-index: 99;
}
header h1 a {
	margin-left: 1.5rem;
}
header h1 a img {
    padding-top: 0.5rem;
	height: 4rem;
}

.g-nav li a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f5a;
}


/*======================== main ========================*/
.body_wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    margin-top: 4rem;
    width: 100%;
    flex: 1;
}
.section_wrapper {
    margin: 5rem auto 7rem;
}
.contents_wrapper {
    margin: 3rem 2rem 3rem;
}
.x-icon {
    width: 30px;
}
.sentence {
    background-color: #fff;
    margin: 1rem auto 2rem;
}
.sentence_inner {
    padding: 3rem;
    color: #555;
}

/*== ボタン共通設定 ==*/
.btn{
    position: relative;/*アニメーションの起点とするためrelativeを指定*/
	overflow: hidden;
	text-decoration: none;
	display: inline-block;
    border: 1.5px solid #f5a;
    padding: 10px 30px;
    text-align: center;
    outline: none;
    transition: ease .2s;/*アニメーションの指定*/
}

/* ボタン内spanの形状 */
.btn span {
    font-weight: bolder;
	position: relative;
	z-index: 3;
	color:#f5a;
}
.btn:hover span, .btn:active span {
    transition: ease .4s;
	color:#fff;
}

/* 背景が流れる（左から右） */
.btn:before {
 	content: '';
 	position: absolute;/*絶対配置で位置を指定*/
 	top: 0;
 	left: 0;
 	z-index: 2;
 	background:#f5a;
 	width: 100%;
	height: 100%;
 	transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
 	transform: scale(0, 1);
	transform-origin: right top;
}

/* hoverした際の形状 */
.btn:hover:before, .btn:active:before {
	transform-origin:left top;
	transform:scale(1, 1);
}

/*======================== footer ========================*/
footer {
    background-color: #fff;
}
footer a img:hover,footer a img:active {
    opacity: 0.5;
}
.footer_link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}
.footer_link .ms-logo {
    width: 80px;
}
footer p {
    font-size: 10px;
    color: #333;
}

/*======================== responsive ========================*/
@media screen and (max-width: 1023px) {
    /*===== ナビゲーション =====*/
    .g-nav {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .g-nav.panelactive {
        transform: translateY(0);
    }

    /*ナビゲーションの縦スクロール*/
    .g-nav.panelactive ul{
        /*ナビの数が増えた場合縦スクロール*/
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    /*ナビゲーション*/
    .g-nav ul {
        position: absolute;
        z-index: 999;
    }

    /*リストのレイアウト設定*/
    .g-nav li{
        text-align: center; 
    }
    .g-nav li a{
        margin: 2rem auto 0;
        display: block;
        letter-spacing: 0.1em;
    }

    /*===== ボタン =====*/
    .openbtn{
        position:fixed;
        z-index: 9999;/*ボタンを最前面に*/
        top: 8px;
        right: 3vw;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
        
    /*×に変化*/	
    .openbtn span{
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 2px;
        border-radius: 2px;
        background-color: #f5a;
        width: 45%;
    }

    .openbtn span:nth-of-type(1) {
        top:15px;	
    }

    .openbtn span:nth-of-type(2) {
        top:23px;
    }

    .openbtn span:nth-of-type(3) {
        top:31px;
    }

    .openbtn.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 40%;
    }

    .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }

    .openbtn.active span:nth-of-type(3){
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 40%;
    }
}



/* 768px tablet over */
@media screen and (min-width: 768px) {
	html {
	font-size: 87.5%;/* 14px */
	}
    .newslist dl {
        display: flex;
        justify-content: left;
    }
    .newslist dl dd {
        margin-left: 3rem;
    }
    .sentence {
        width: 600px;/*tablet*/
    }
    .ms-logo {
        width: 100px;
    }
}
/* 768px tablet over end */

/* 1024px laptop over */
@media screen and (min-width: 1024px) {
	html {
        font-size: 100%;/* 16px */
	}
    header {
        height: 6rem;
        display: flex;
        justify-content: space-between;
    }
    .g-nav {
        position: static;
        height: auto;
        background: transparent;
        display: block;
        transform: none;
        top: auto;
        margin-right: 1rem;
    }
    .g-nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .g-nav ul li {
        margin-right: 2.5vw;
    }
    .g-nav ul li a {
        text-decoration: none;
        transition: 0.5s;
    }
    .g-nav .x-icon {
        margin-left: 0.5rem;
    }
    .topimg img {
        margin-top: 1rem;
    }
    .openbtn {
        display: none;
    }
    .sentence {
        width: 720px;
    }
    .ms-logo {
        width: 120px;
    }
}
/* 1024px laptop over end */